<h1>Lista de Suplementos</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Porcion</th>
        </tr>
    </thead>
    <tbody>
         <tr *ngFor=" let suplemento of suplementos" [ngClass]="{'clearance': suplemento.clearance}">
            <td><img [src]="suplemento.image" [alt]="suplemento.name"/></td>
            <td id="name">{{suplemento.name}}</td>
            <td>{{suplemento.type}}</td>
            <td>{{suplemento.price | currency}}</td>
            <td>{{suplemento.cant}}</td>
            <td>
                <span *ngIf="suplemento.stock==0" class="badge text-bg-danger">SIN STOCK</span>
                <span *ngIf="suplemento.stock > 0" > ✓​</span></td>
            <td>
                <button class="btn btn-success" (click)="downQuantity(suplemento)" >-</button>
                <input 
                    class=""
                    type="text" 
                    [(ngModel)]="suplemento.quantity"
                    (keyup)="onChangeQuantity($event, suplemento)"
                >
                <button class="btn btn-success" (click)="upQuantity(suplemento)">+</button>
                {{ suplemento.quantity }}
            </td>
            
        </tr>
        
    </tbody>
</table>
