img{
    width: 200px;
}
th{
    font-size: 23px;
}

#name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.clearance{
    border:2px solid green ;
    background-color: rgb(86, 228, 86);
}